{% extends "base_app.html" %}

{% block title %}{{ challenge.title }}{% endblock %}

{% block content %}
<div class="card shadow-sm mb-4">
    <div class="card-body">
        <h2>{{ challenge.title }}</h2>
        <p class="text-muted">Difficulté : {{ challenge.difficulty }} | Points : {{ challenge.points }}</p>
        <hr>
        <p>{{ challenge.description }}</p>

        <!-- 🔒 Le flag est caché ici ! -->
        <!-- FLAG2026 -->

        <div id="challenge-content">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-info mt-2">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            {% if solved %}
                <div class="alert alert-success mt-3">
                    ✅ Challenge déjà résolu !
                </div>
            {% else %}
                <p>Indice : certaines informations peuvent être invisibles des utilisateurs, mais sont tout de même présentes dans le code
                source de la page. En tant qu'utilisateur lambda, afin d'accéder au code source de la page vous pouvez faire clic droit sur
                la page, puis cliquer sur "Inspecter", ou vous pouvez tout simplement appuyer sur f12. Retrouvez le flag en utilisant cette méthode.</p>
                <form method="POST" action="{{ url_for('submit_flag', id=challenge._id) }}">
                    <input type="text" name="flag" class="form-control" placeholder="Entrez le flag" required>
                    <button type="submit" class="btn btn-primary mt-2">Soumettre</button>
                </form>
            {% endif %}
        </div>

    </div>
</div>
{% endblock %}